<!DOCTYPE html>
<html lang='en'>

  <head>
    <title>Home</title>
    <link rel='stylesheet' href='../root/styles/nctss_1.css'/>
  </head>

  <body>
    <header>NorCal Time Trial Series</header> 
 
    <nav>
      <code-nav-selected> <a href="#">Home</a> </code-nav-selected>
      <code-nav-not-selected>  <a href='about.html'>About</a> </code-nav-not-selected>
      <code-nav-not-selected> <a href='contact.html'>Contact</a> </code-nav-not-selected>
      </nav>

    <div style='padding-top: 1px'></div>

    <img src="../../asset/image-blue-car.jpeg" width= '1500px' height='400px' alt="blue-car">
  

    <h2>Upcoming Events</h2>
    
    
    <code-img-body> <img src="../../asset/image_NorCal_logo.png" width= '200px' alt="logo"> </code-img-body>
    
    <p>February 12</p>
        <p>Board Meeting</p>
  
    <p>February 25</p>
        <p>Drivers Zoom Meeting</p>
    <p>March 12</p>
        <p>First Event at Thunderhill!</p>    
  </body>
</html>
